@font-face {
    font-family: "Recia";
    src:
        url("./assets/Recia-Variable.woff2") format("woff2"),
        url("./assets/Recia-Variable.woff") format("woff");
}


:root {
    --bg: hsl(0, 0%, 5%);
    --fg: hsl(0, 0%, 95%);
    --accent: hsl(217 91% 25%);
    --border: hsl(0, 0%, 50%);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: "Recia";
}


body {
    background-color: var(--bg);
    color: var(--fg);


}

h1 {
    font-weight: 500;
    letter-spacing: -1%;
    line-height: 100%;
}

/* Form CSS */
.authFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: 70vh;
}

.authForm {
    display: flex;
    flex-direction: column;

    width: 320px;

    gap: 8px;
    margin-top: 50px;

}

.authForm input {
    background-color: transparent;
    color: var(--fg);

    font-size: 18px;

    padding: 4px 8px;

    border: 1px solid var(--accent);
    border-radius: 4px;

    margin-top: 20px;
}

.authForm button {
    background-color: var(--accent);
    color: var(--fg);

    border: 1px solid var(--border);
    border-radius: 4px;


    font-size: 18px;

    margin-top: 20px;
    padding: 4px 8px;

    cursor: pointer;
}

.inputError {
    color: hsl(0, 79%, 51%);
    font-size: 14px;
    padding: 0px 5px;

}

.selected {
    background-color: red;
}